@font-face {
  font-family: "Oshidashi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""), url("/fonts/swarabi/sawarabi-mincho-v15-latin_japanese-regular.woff2") format("woff2"),
    url("/fonts/swarabi/sawarabi-mincho-v15-latin_japanese-regular.woff") format("woff");
}

.charactersGrid {
  height: 100%;
  width: min(95%, 40rem);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding-inline: 0.25rem;
  overflow: auto;
  font-family: "Oshidashi";
  margin: 0 !important;
  padding: 0.5rem;
  border-radius: 5%;
}
.scaleUpT {
  transform: translateY(-50%) translateX(-50%) scale(1);
}

.characterContainer {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  max-height: 4rem;
  line-height: 1.325rem;
  background-color: rgb(255, 255, 255);
  padding: clamp(0.41rem, 0.39rem + 0.1vw, 0.96rem);
  border: none !important;
  color: black;
  opacity: 0.95;
  cursor: pointer;
}
.characterContainer:hover,
.characterContainer:focus-visible {
  transform: none;
  opacity: 1;
  z-index: 2;
  font-weight: 900;
}

.backgroundGrey {
  background-color: rgba(38, 38, 38, 0.12)
}

.letterJap {
  font-size: var(--step-0);
  padding-inline: 0.15rem;
  font-family: "Oshidashi";
  margin: 0 !important;
  padding-block: 0 !important;
  color: rgb(209, 22, 22);
}
.letterLat {
  font-size: var(--step--1);
  font-family: "Oshidashi";
  margin: 0 !important;
  padding-block: 0 !important;
  font-weight: bold;
  opacity: 0.8;
}

@media screen and (max-width: 815px) {
  .charactersGrid {
    position: inherit;
  }
}

.showModal{
  position: fixed;
  top:50%;
  left:50%;
  transform: translateX(-50%) translateY(-50%);
  opacity: 1;
  z-index: 3;
}