@font-face {
  font-family: "Oshidashi";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../assets/fonts/Oshidashi-M-Gothic.otf") format("opentype"),
    url("../assets/fonts/Oshidashi-M-Gothic-TT.ttf") format("truetype");
}

.vowelsText {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
  width: auto;
  padding: 2rem;
  flex-wrap: wrap;
}

.vowelsListItem {
  list-style-type: none;
  list-style: none;
  padding-left: 0;
}
.charactersGrid {
  height: 100%;
  width: min(95%, 40rem);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: stretch;
  justify-content: center;
  padding: 0.25rem;
  overflow: auto;
}
