@font-face {
  font-family: "Rampart One";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../assets/fonts/rampart-one-v5-latin_japanese-regular.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../assets/fonts/rampart-one-v5-latin_japanese-regular.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: "Oshidashi";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../assets/fonts/Oshidashi-M-Gothic.otf") format("opentype"),
    url("../assets/fonts/Oshidashi-M-Gothic-TT.ttf") format("truetype");
}
.title {
  word-break: break-all;
}

.game {
  position: relative;
  width: min(50rem, 95%);
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr;
  align-items: space-between;
  justify-content: flex-start;
  text-align: center;
  border: 1px solid #000;
  overflow: hidden;
  margin-bottom: 1.5rem;
}

.correct {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
}
.wrong {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
}
.remaining {
  position: absolute;
  top: 0;
  left: 50%;
  padding: 1rem;
  transform: translateX(-50%);
}

.gameCharacterContainer {
  position: relative;
  overflow: hidden;
  display: flex;
  height: 15rem;
}

.gameCharacter {
  position: absolute;
  margin: 0;
  padding-top: 2rem;
  top: 50%;
  left: 0;
  transform: translateX(-100%) translateY(-50%);
  font-size: var(--step-8);
  color: red;
  font-family: "Rampart One";
  word-break: keep-all;
}

.gameOptionsContainer {
  display: flex;
  flex-direction: row;
  background-color: red;
  align-items: center;
  justify-content: center;
  gap: min(4rem, 5%);
  height: 100%;
  margin: 0;
  padding: 1rem;
}

.languagesUnorginzeslist {
  margin-bottom: 2rem;
  list-style: none;
  padding-left: 0;
}
.gameOptionsList {
  position: relative;
  list-style: none;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.75rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.gameOption {
  background-color: white;
  padding: 1rem;
  width: 25%;
  cursor: pointer;
  border-radius: 15px;
  font-size: var(--step-1);
  border: none;
}

.languageAlert {
  list-style: none;
}

.selectOneLanguage {
  position: relative;
  color: red;
  font-size: var(--step--1);
}

.greenSelected {
  background-color: rgba(126, 233, 126, 0.932);
}
.redSelected {
  background-color: rgba(233, 126, 126, 0.932);
}

.gameButtonsContainer {
  display: flex;
  width: min(50rem, 95%);
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.gameButton {
  border-radius: 10px;
  opacity: 1;
  padding: 1rem;
  width: 40%;
  justify-self: center;
  font-size: var(--step-0);
  transition: all 0.35s ease;
}

.missedContainer {
  display: none;
  padding-block: 2rem;
  width: min(95%, 40rem);
  text-align: center;
}
