.container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.container * {
  box-sizing: border-box;
}

.loginContainer {
  display: flex;
  align-items: center;
  width: min(90%, 40rem);
  background: #22393f;
  color: #fff;
  margin-bottom: 5%;
  border-radius: 5%;
  background-color: #0a9abe;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.loginInputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: auto;
  gap: 0.3rem;
  padding-block: 2rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.loginLabel {
  font-size: 1.5rem;
}

.loginInput {
  padding: 10px 10px;
  margin-bottom: 1.5rem;
  width: min(40ch, 90%);
}

.loginButton {
  width: 50%;
  padding: 0.75rem 0.5rem;
  background-color: white;
}

.loginContainerFree {
  display: flex;
  width: 40%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #0f4a58;
}

.loginButtonRed {
  background-color: #d3d3d3;
  display: flex;
  font-size: clamp(1.09rem, 1.05rem + 0.21vw, 1.2rem);
  border: none;
  width: 80%;
  aspect-ratio: 2/1;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 20%;
  color: black;
}

.loginButton:hover,
.loginButton:focus-visible {
  opacity: 0.9;
  cursor: pointer;
}

.loginInputContainer a,
.loginInputContainer a:visited {
  padding: 0.25rem;
  color: #ffffff;
  font-size: 1.2rem;
  text-decoration: none;
}

.loginInputContainer a:hover,
.loginInputContainer a:focus-visible,
.loginInputContainer a:visited:hover,
.loginInputContainer a:visited:focus-visible {
  opacity: 0.85;
  text-decoration: underline;
}
