.infoContainer {
  position: fixed;
  background-color: white;
  color: black;
  left: 50%;
  top: 50%;
  width: min(40rem, 90%);
  transform: translateY(-50%) translateX(-50%) scale(0);
  border: 2px solid rgba(0, 0, 0, 0.3);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0.1;
  display: flex;
  transition: all 0.3s ease-in-out;
  transform-origin: top;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.scaleUp {
  opacity: 1;
  transform: translateY(-50%) translateX(-50%) scale(1);
}

.infoContainer h3 {
  font-size: var(--step-3);
}

.infoContainer img {
  max-width: 75%;
  height: auto;
  object-fit: cover;
  padding: 1rem;
}

.btnClose {
  outline: 1px solid black;
  border: none;
  position: absolute;
  border-radius: 40%;
  top: 0;
  padding: 1rem;
  right: 0;
  transform: translatex(50%) translateY(-50%);
}

.btnClose:hover,
.btnClose:focus-visible {
  transform: translatex(50%) translateY(-50%) scale(1.05);
}

.btnSound {
  margin-top: 1rem;
  padding: 0.25rem 0.5rem;
  width: 20%;
}

.examplesContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0 1rem 1rem 1rem;
}

.examples {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  grid-row: 2;
}
.example {
  width: 100%;
}

.examplesContainer p {
  margin: 0;
  padding-block: 1rem;
  font-size: var(--step-1);
}
