@font-face {
  font-family: "Rampart One";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""),
    url("../../assets/fonts/rampart-one-v5-latin_japanese-regular.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../../assets/fonts/rampart-one-v5-latin_japanese-regular.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: "Oshidashi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""),
    url("../../assets/fonts/sawarabi-mincho-v15-latin_japanese-regular.woff2")
      format("woff2"),
    url("../../assets/fonts/sawarabi-mincho-v15-latin_japanese-regular.woff")
      format("woff");
}
.title {
  word-break: break-all;
}
.gameDescription {
  width: min(60ch, 90%) !important;
  text-align: center;
}

.gameOptionsFullDescription {
  width: min(60ch, 90%) !important;
  text-align: start;
  opacity: 0;
  height: 0;
  transform: scale(0);
  transition: all 0.3s;
}

.deflate {
  opacity: 0;
  height: 0;
  transform: scale(0);
}

.inflate {
  opacity: 1;
  height: 100%;
  transform: scale(1);
}

.learnMoreButton {
  margin: -0.5rem auto 3rem auto !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: none;
  background: rgb(197, 15, 15) !important;
  color: white !important;
  border-radius: 5px;
  padding: 1rem !important;
  transition: all 0.5s;
}

.game {
  position: relative;
  width: min(50rem, 100%);
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr;
  align-items: space-between;
  justify-content: flex-start;
  text-align: center;
  overflow: hidden;
  margin-bottom: 1.5rem;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.correct {
  position: absolute;
  top: 0;
  left: 0;
  padding: clamp(0.21rem, 0.19rem + 0.1vw, 0.96rem);
  color: rgb(22, 185, 22);
  font-size: var(--font-size--2);
}
.wrong {
  position: absolute;
  top: 0;
  right: 0;
  padding: clamp(0.21rem, 0.19rem + 0.1vw, 0.96rem);
  font-size: var(--font-size--2);
}
.remaining {
  position: absolute;
  top: 0;
  left: 52%;
  padding: clamp(0.21rem, 0.19rem + 0.1vw, 0.96rem);
  transform: translateX(-52%);
  font-size: var(--font-size--2);
}

.gameCharacterContainer {
  position: relative;
  overflow: hidden;
  display: flex;
  height: 15rem;
}

.gameCharacter {
  position: absolute;
  margin: 0;
  padding-top: 2rem;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateX(-100%) translateY(-50%);
  font-size: var(--step-8);
  color: rgb(46, 46, 46);
  font-family: "Rampart One";
  word-break: keep-all;
}

.gameTransition {
  transition: all 4s cubic-bezier(0, 0.5, 1, 0.49);
}

.noGameTransition {
  transition: none;
}

.gameOptionsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: min(4rem, 5%);
  height: 100%;
  margin: 0;
  padding: 1rem;
  background: rgb(255, 0, 0);
  background: -moz-radial-gradient(
    circle,
    rgba(255, 0, 0, 1) 0%,
    rgba(191, 46, 2, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(255, 0, 0, 1) 0%,
    rgba(191, 46, 2, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(255, 0, 0, 1) 0%,
    rgba(191, 46, 2, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff0000",endColorstr="#bf2e02",GradientType=1);
}

.gameOption {
  background-color: white;
  padding: 1rem;
  width: 25%;
  cursor: pointer;
  border-radius: 15px;
  font-size: var(--step-1);
  border: none;
}

.greenSelected {
  background-color: rgba(126, 233, 126, 0.932);
}
.redSelected {
  background-color: rgba(233, 126, 126, 0.932);
}

.gameButtonsContainer {
  display: flex;
  width: min(50rem, 95%);
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.gameButton {
  border-radius: 10px;
  opacity: 1;
  padding: 1rem;
  width: 40%;
  justify-self: center;
  font-size: var(--step-0);
  transition: all 0.35s ease;
}

.missedContainer {
  display: none;
  padding: 0;
  margin: 0;
  padding-block: 2rem;
  width: min(99%, 40rem);
  text-align: center;
}
