.buttonsContainer {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  font-size: 20rem;
}

.button {
  font-size: var(--step-3);
  z-index: 5;
  top: 8rem;
  width: 6rem;
  height: 6rem;
  position: absolute;
  transform: translateY(-60%);
}

.button_appearance {
  background-color: red;
  border-radius: 1rem;
  color: white !important;
  border: none !important;
}

.button:hover {
  transform: translateY(-55%);
  opacity: 0.6;
}

.decreaseButton {
  left: min(4rem, 2.5vw);
}

.decreaseButton::after {
  content: "Back";
  position: absolute;
  left: 50%;
  bottom: 0.125rem;
  transform: translateX(-50%);
  font-size: 0.85rem;
}

.increaseButton {
  right: min(4rem, 2.5vw);
}
.increaseButton::after {
  content: "Next";
  position: absolute;
  left: 50%;
  bottom: 0.125rem;
  transform: translateX(-50%);
  font-size: 0.85rem;
}

@media screen and (max-width: 815px) {
  .button {
    width: 4rem;
    height: 4rem;
  }
  .decreaseButton {
    transform: translateY(-50%);
    left: 25%;
  }
  .increaseButton {
    transform: translateY(-50%);
    right: 25%;
  }
}
