@font-face {
  font-family: "Rampart One";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""), url("/fonts/rampart/rampart-one-v5-latin_japanese-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url("/fonts/rampart/rampart-one-v5-latin_japanese-regular.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: "Oshidashi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""), url("/fonts/swarabi/sawarabi-mincho-v15-latin_japanese-regular.woff2") format("woff2"),
    url("/fonts/swarabi/sawarabi-mincho-v15-latin_japanese-regular.woff") format("woff");
}
.title {
  word-break: break-all;
}

.descriptionTitle::after {
  content: "NiponABC";
  font-size: 21vw;
  z-index: -2;
  position: absolute;
  top: -60%;
  left: -30%;
  opacity: 0.1;
}

.descriptionTitle::before {
  content: "日本";
  display: grid;
  place-content: center;
  place-items: center;
  color: white;
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  background-color: rgb(255, 0, 0);
  position: absolute;
  top: 50rem+5vw;
  font-size: var(--step-4);
  right: calc(10vw - 2.3rem);
  opacity: 0.75;
  z-index: -2;
}

.descriptionTitle {
  position: relative;
  padding-left: 1rem;
  font-size: var(--step-6);
  margin-bottom: -1rem;
}
.gameDescription {
  color: red;
  position: relative;
  width: min(60ch, 75vw);
  text-align: start;
  font-size: var(--step--1);
  padding-bottom: 5rem;
  padding-left: 4rem;
}

.game {
  background-color: rgb(231, 231, 231);
  background-image: url(/images/texture.jpg);
  transform: translateX(-0.5rem);
  position: relative;
  width: min(50rem, 90%);
  min-height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: flex-start;
  text-align: center;
  overflow: hidden;
  margin-bottom: 1.5rem;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.correct {
  position: absolute;
  top: 1.5rem;
  left: clamp(1rem, 1rem + 1vw, 1.5rem);
  padding: clamp(0.21rem, 0.19rem + 0.1vw, 0.96rem);
  font-size: var(--step-0);
}
.wrong {
  position: absolute;
  top: 1.5rem;
  right: clamp(1rem, 1rem + 1vw, 1.5rem);
  padding: clamp(0.21rem, 0.19rem + 0.1vw, 0.96rem);
  font-size: var(--step-0);
}
.remaining {
  position: absolute;
  top: 1.5rem;
  left: 52%;
  padding: clamp(0.21rem, 0.19rem + 0.1vw, 0.96rem);
  transform: translateX(-52%);
  font-size: var(--step-0);
}

.gameCharacterContainer {
  position: relative;
  overflow: hidden;
  display: flex;
}

.gameCharacter {
  position: relative;
  margin: 0;
  width: 100%;
  font-size: 18rem;
  color: rgb(46, 46, 46);
  font-family: "Rampart One";
  font-weight: bold;
  word-break: keep-all;
  transition: all 0.75s cubic-bezier(0, 0.5, 1, 0.49);
  opacity: 0.01;
}

.gameTransition {
  opacity: 1;
}

.noGameTransition {
  transition: none;
}

.gameOptionsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: min(4rem, 5%);
  margin: 0 !important;
  padding: 1rem;
  opacity: 0.7;
  background: transparent;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.gameOption {
  background-color: white;
  padding: 1rem;
  width: 25%;
  cursor: pointer;
  border-radius: 15px;
  font-size: var(--step-1);
  border: none;
}

.greenSelected {
  background-color: rgba(126, 233, 126, 0.932);
}
.redSelected {
  background-color: rgba(233, 126, 126, 0.932);
}

.gameButtonsContainer {
  display: flex;
  width: min(50rem, 95%);
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  transform: translateX(-0.5rem);
}
.gameButton {
  border-radius: 10px;
  opacity: 1;
  padding: 1rem;
  width: 40%;
  height: auto;
  justify-self: center;
  font-size: var(--step-0);
  transition: all 0.35s ease;
}

.missedContainer {
  display: grid;
  padding: 0;
  margin: 0;
  padding-block: 2rem;
  width: min(99%, 40rem);
  text-align: center;
}

.listText {
  font-size: var(--step--1);
  padding-bottom: 2rem;
}

.listText li {
  padding: 0.25rem;
}

.gameContainer {
  position: relative;
  font-size: 1.325rem;
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(5, 100vw);
  place-content: center;
  place-items: center;
  padding-bottom: 5rem;
  transition: all 0.35s ease;
  z-index: 0;
}

.hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.gameContainerHome {
  transform: translateX(200vw);
}

.gameContainerMenu {
  transform: translateX(100vw);
}

.gameContainerGame {
  transform: translateX(0vw);
}

.gameDescriptionContainer {
  width: 90%;
  order: 0;
}

.gameMenuContainer {
  width: 100%;
  display: grid;
  position: relative;
  place-content: center;
  place-items: center;
  order: 1;
}

.gameDisplayContainer {
  width: 100%;
  height: 100%;
  padding-inline: 0.5rem;
  padding-top: 12rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  order: 2;
}

@media screen and (max-width: 815px) {
  .descriptionTitle {
    width: 100%;
    text-align: center;
    position: relative;
    font-size: var(--step-4);
  }
  .gameDescription {
    width: 30ch;
    margin: 0 auto;
    text-align: center;
    font-size: var(--step--1);
    padding-block: 2rem;
    padding-left: 1rem;
  }

  .descriptionTitle::after {
    position: absolute;
    top: 0%;
  }

  .descriptionTitle::before {
    top: 7rem;
    right: 50%;
    transform: translateX(215%);
    width: 5rem;
    height: 5rem;
    font-size: var(--step-1);
  }
  .remaining {
    top: 4rem;
  }
}
