@font-face {
  font-family: "Rampart One";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""),
    url("/fonts/rampart/rampart-one-v5-latin_japanese-regular.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/fonts/rampart/rampart-one-v5-latin_japanese-regular.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: "Oshidashi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""),
    url("/fonts/swarabi/sawarabi-mincho-v15-latin_japanese-regular.woff2")
      format("woff2"),
    url("/fonts/swarabi/sawarabi-mincho-v15-latin_japanese-regular.woff")
      format("woff");
}
.title {
  word-break: break-all;
}

.descriptionTitle {
  padding-left: 1rem;
  font-size: var(--step-4);
}
.gameDescription {
  width: min(60ch, 75vw);
  text-align: start;
  font-size: var(--step--1);
  padding-bottom: 5rem;
}

.game {
  transform: translateX(-0.5rem);
  position: relative;
  width: min(50rem, 90%);
  min-height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: flex-start;
  text-align: center;
  overflow: hidden;
  margin-bottom: 1.5rem;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.correct {
  position: absolute;
  top: 0;
  left: 0;
  padding: clamp(0.21rem, 0.19rem + 0.1vw, 0.96rem);
  font-size: var(--font-size--2);
}
.wrong {
  position: absolute;
  top: 0;
  right: 0;
  padding: clamp(0.21rem, 0.19rem + 0.1vw, 0.96rem);
  font-size: var(--font-size--2);
}
.remaining {
  position: absolute;
  top: 0;
  left: 52%;
  padding: clamp(0.21rem, 0.19rem + 0.1vw, 0.96rem);
  transform: translateX(-52%);
  font-size: var(--font-size--2);
}

.gameCharacterContainer {
  position: relative;
  overflow: hidden;
  display: flex;
  height: 15rem;
}

.gameCharacter {
  position: absolute;
  margin: 0;
  padding-top: 2rem;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateX(-100%) translateY(-50%);
  font-size: var(--step-8);
  color: rgb(46, 46, 46);
  font-family: "Rampart One";
  word-break: keep-all;
}

.gameTransition {
  transition: all 4s cubic-bezier(0, 0.5, 1, 0.49);
}

.noGameTransition {
  transition: none;
}

.gameOptionsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: min(4rem, 5%);
  height: 7rem;
  margin: 0 !important;
  padding: 1rem;
  background: rgb(255, 0, 0);
  background: -moz-radial-gradient(
    circle,
    rgba(255, 0, 0, 1) 0%,
    rgba(191, 46, 2, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(255, 0, 0, 1) 0%,
    rgba(191, 46, 2, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(255, 0, 0, 1) 0%,
    rgba(191, 46, 2, 1) 100%
  );
}

.gameOption {
  background-color: white;
  padding: 1rem;
  width: 25%;
  cursor: pointer;
  border-radius: 15px;
  font-size: var(--step-1);
  border: none;
}

.greenSelected {
  background-color: rgba(126, 233, 126, 0.932);
}
.redSelected {
  background-color: rgba(233, 126, 126, 0.932);
}

.gameButtonsContainer {
  display: flex;
  width: min(50rem, 95%);
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  transform: translateX(-0.5rem);
}
.gameButton {
  border-radius: 10px;
  opacity: 1;
  padding: 1rem;
  width: 40%;
  height: 12vh;
  justify-self: center;
  font-size: var(--step-0);
  transition: all 0.35s ease;
}

.missedContainer {
  display: grid;
  padding: 0;
  margin: 0;
  padding-block: 2rem;
  width: min(99%, 40rem);
  text-align: center;
}

.listText {
  font-size: var(--step--1);
  padding-bottom: 2rem;
}

.listText li {
  padding: 0.25rem;
}

.gameContainer {
  position: relative;
  font-size: 1.325rem;
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(5, 100vw);
  place-content: center;
  place-items: center;
  padding-bottom: 5rem;
  transition: all 0.35s ease;
}

.hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.gameContainerHome {
  transform: translateX(200vw);
}

.gameContainerMenu {
  transform: translateX(100vw);
}

.gameContainerGame {
  transform: translateX(0vw);
}

.gameDescriptionContainer {
  width: 90%;
  height: auto;
  order: 0;
}

.gameMenuContainer {
  width: 100%;
  display: grid;
  position: relative;
  place-content: center;
  place-items: center;
  order: 1;
}

.gameDisplayContainer {
  width: 100%;
  height: 100%;
  padding-inline: 0.5rem;
  padding-top: 12rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  order: 2;
}

@media screen and (max-width: 815px) {
  .descriptionTitle {
    width: 100%;
    text-align: center;
    font-size: var(--step-4);
  }
  .gameDescription {
    width: 100%;
    text-align: center;
    font-size: var(--step--1);
    padding-bottom: 2rem;
  }
}
