  .container {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 1.325rem;
  padding: 1rem;
  padding-bottom: 10rem;
  gap: 1rem;
}

.container p {
  width: min(40ch, 90%);
  word-break: break-word;
  text-align: center;
}
.container h1 p {
  width: 100%;
}


@font-face {
  font-family: "Oshidashi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""), url("/fonts/swarabi/sawarabi-mincho-v15-latin_japanese-regular.woff2") format("woff2"),
    url("/fonts/swarabi/sawarabi-mincho-v15-latin_japanese-regular.woff") format("woff");
}

.title {
  position: relative;
  width: 100%;
}

.japTitle {
  --step--2: clamp(0.91rem, 0.89rem + 0.1vw, 0.96rem);
  --step--1: clamp(1.09rem, 1.05rem + 0.21vw, 1.2rem);
  --step-0: clamp(1.31rem, 1.24rem + 0.37vw, 1.5rem);
  --step-1: clamp(1.58rem, 1.46rem + 0.59vw, 1.88rem);
  --step-2: clamp(1.89rem, 1.71rem + 0.89vw, 2.34rem);
  --step-3: clamp(2.27rem, 2.01rem + 1.29vw, 2.93rem);
  --step-4: clamp(2.72rem, 2.36rem + 1.83vw, 3.66rem);
  --step-5: clamp(3.27rem, 2.75rem + 2.56vw, 4.58rem);
  --step-6: clamp(3.92rem, 3.22rem + 3.52vw, 5.72rem);
  --step-7: clamp(4.7rem, 3.75rem + 4.78vw, 7.15rem);
  --step-8: clamp(5.64rem, 4.36rem + 6.43vw, 8.94rem);
  font-size: var(--step-7);
  color: rgb(236, 22, 22);
  order: 0;
  padding: 0.5rem;
  padding-top: 7rem;
  margin: 0;
  margin-bottom: -5rem;
}

.latTitle {
  --step-2: clamp(1.89rem, 1.71rem + 0.89vw, 2.34rem);
  font-size: var(--step-2);
  padding: 0.5rem;
  padding-bottom: 5rem;
  opacity: 0.8;
}

.intro {
  --step--1: clamp(1.09rem, 1.05rem + 0.21vw, 1.2rem);
  font-size: var(--step--1);
}

.vowelsText {
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
  width: auto;
  padding: 2rem;
  flex-wrap: wrap;
  margin-bottom: 6rem;
}

.vowelsListItem {
  list-style-type: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

.redSpan {
  color: rgb(236, 22, 22);
}

.tapInfo {
  --step--2: clamp(0.91rem, 0.89rem + 0.1vw, 0.96rem);
  font-size: var(--step--2);
  width: 25ch;
}
.charactersGrid {
  height: 100%;
  width: min(95%, 40rem);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: stretch;
  justify-content: center;
  padding: 0.25rem;
  overflow: auto;
}
