.infoContainer {
  position: fixed;
  background-color: white;
  color: black;
  left: 50%;
  top: 50%;
  width: min(40rem, 90%);
  transform: translateY(-50%) translateX(-50%) scale(0);
  border: 2px solid rgba(0, 0, 0, 0.3);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0.1;
  display: flex;
  transition: all 0.3s ease-in-out;
  transform-origin: top;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.scaleUp {
  opacity: 1;
  transform: translateY(-50%) translateX(-50%) scale(1);
}

.infoContainer h3 {
  font-size: var(--step-2);
  padding: 0;
  margin: 1rem;
}

.btnClose {
  outline: 1px solid black;
  border: none;
  position: absolute;
  background-color: white;
  border-radius: 40%;
  top: 0;
  padding: 1rem;
  right: 0;
  transform: translatex(50%) translateY(-50%);
  transition: all 0.3s;
}

.btnClose:hover,
.btnClose:focus-visible {
  transform: translatex(50%) translateY(-50%) scale(1.1);
  background: rgb(197, 15, 15);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: white;
}

.btnSound {
  margin-top: 1rem;
  padding: 0.25rem 0.5rem;
  width: 20%;
}

.examplesContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.examples {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-bottom: 1rem;
}
.exampleColorRed {
  border-left: 1px solid red;
  border-right: 1px solid red;
}

.example {
  width: 100% !important;
  display: flex;
  flex-direction: row !important;
  align-items: flex-start;
  justify-content: center;
  margin: 0 !important;
  font-size: var(--step--1) !important;
}

.example span {
  color: red;
  margin: 0 !important;
  padding: 0 !important;
}

.examplesContainer p {
  margin: 0;
  padding-block: 1rem;
  font-size: var(--step-1);
  word-break: break-word !important;
}

.imgContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  overflow: show;
}

.imageLanguages {
  min-width: 160px;
  height: 100%;
  width: auto;
  min-height: 200px;
  display: block;
  object-fit: cover;
}

.btnSound {
  display: none;
}
